{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron text-center">
			<h2>Title agence</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo officiis nemo est perferendis reiciendis quibusdam voluptatum suscipit magnam sapiente tempore tempora ea totam illum, similique corporis inventore. Ratione, deleniti saepe.</p>
		</div>

	</div>


{% endblock %}
